*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.padding{
  padding: 10px;
}
.box
{
  background-color: black;
  border-radius: 5px;
  border: 2px solid #2F86A6;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px  #2F86A6;
  width: 350px;
  height: 200px;
  transition: all 0.5s;
  transform:scale(90%);
}
.box:hover h1,.box:hover h2 {
  color :#F9D00F;
}
.box:hover h3,.box:hover h4 {
  color :#F0AE2C;
}
.box:hover{
  border-color :#F92727 ;
  box-shadow: 1px 1px 1px 1px  #F92727;
  transform:scale(110%);
}
h1{
  color: #0E9577;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
  transition: all 0.5s;
  
}
h2{
  color: #0E9577;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
  transition: all 0.5s;
}
h3{
  color: #04DEAD;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
  transition: all 0.5s;
}
h4{
  color: #04DEAD;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0px;
  transition: all 0.5s;
}